extends layout 

block main-content 
      section.about 
        h1 About Us! 
        p Welcome to Taste and Fun Catering, where we bring delectable flavors and enjoyable experiences to your events. With our passion for food and dedication to exceptional service, we create unforgettable moments for our clients.
