extends layout

block main-content
  section#service
    h2 Our Services
    ul
      li
        img(src="./css/images/buffet.avif", alt="Buffet Catering")
        h3 Buffet Catering
        //https://images.unsplash.com/photo-1523145149804-5d8e0c044753?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80

      li
        img(src="./css/images/corporate.avif", alt="Corporate Events")
        h3 Corporate Events
        //https://images.unsplash.com/photo-1523580494863-6f3031224c94?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80

      li
        img(src="./css/images/wedding.avif", alt="Wedding Receptions")
        h3 Wedding Receptions
        //https://images.unsplash.com/photo-1511795409834-ef04bbd61622?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80

      li
        img(src="./css/images/private.avif", alt="Private Parties")
        h3 Private Parties
        //https://images.unsplash.com/photo-1626200711570-ea66d2226668?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1022&q=80
        
